<section>
  <div class="things-container">
    <div class="section-header row">
      <h3 class="section-title">Users</h3>
    </div>
    <%= render TaskManagerWeb.SharedView, "users.html", %{users: @users, conn: @conn} %>
  </div>
</section>