html {
  height: 100%;
}

body, .parent-container {
  min-height: 100vh;
}

main {
  height: auto;
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 0.5rem;
}

.nav-item {
  margin-right: 1rem;
}

.main-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section h2 {
  margin: 2rem;
}

.main-section form {
  width: 80%;
}

section {
  margin-top: 1rem;
  width: 100%;
}

.buttons *:not(:first-child):before {
  content: "|";
  padding-right: 0.25rem;
}

.things-container {
  width: 100%;
}

.section-header .add-task {
  margin-left: auto;
}

.things {
  margin: -0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.thing {
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 16rem;
  overflow: scroll;
}

.task .info {
  height: 12rem;
}

.user .info {
  height: 9rem;
}

.task-title {
  margin-bottom: 0;
}

.task-description {
  font-size: 0.8rem;
  height: 2.5rem;
  color: grey;
  overflow: scroll;
}

