<%= if @current_user do %>
  <div class="tasks-container">
    <%= link "Add Task", to: task_path(@conn, :new) %>
    <h3 class="task-list-title">Your Tasks</h3>

    <%= render TaskManagerWeb.SharedView, "task_table.html", %{tasks: @tasks, conn: @conn} %>

  </div>
<% else %>
  <h2>Login to see tasks</h2>
<% end %>
